html, body {
  height: 100%;
}

html {
  display: table;
  width: 100%;
}

body {
  font-family: gotham, arial, helvetica, sans-serif;
  background-color: #232323;
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.card {
  background-color: #505050;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card button {
  width: 16px;
  height: 20px;
  border-style: none;
  border-radius: 25px;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 25px;
}
