html, body {
  height: 100%;
}

html {
  display: table;
  width: 100%;
}

body {
  font-family: gotham, arial, helvetica, sans-serif;
  background-color: #232323;
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

a {
  color: #6d9bc3;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #505050;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card button {
  width: 65px;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  margin: 10px;
  background-color: #232323;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 25px;
}
